<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="${ctxPath}/webjars/echarts/4.0.4/dist/echarts.js"></script>
    <script type="text/javascript" src="${ctxPath}/webjars/echarts/4.0.4/dist/echarts.common.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/webjars/echarts/4.0.4/theme/vintage.js"></script>
    <script type="text/javascript" src="${ctxPath}/scripts/sensor.js"></script>
    <title>电力测温智能化管理</title>
</head>
<script type="text/javascript">
    var option
    var myChart

    $(function () {
        initChart()
        //基于准备好的dom，初始化echarts实例
        myChart = echarts.init(document.getElementById('main'));
        //myChart.setOption(option)
    })

    function showData() {
        $.ajax({
            type: "GET",
            url: "${ctxPath}/checkCurrentTempInfo",
            data: {"monitorPointId":$("#monitorPoint").val(),
                "terminalId":$("#terminal").val()
            },
            success: function (result) {
                initChart()
                var termp;
                for (var i in result.temperatureVOList) {
                    termp = result.temperatureVOList[i];
                    option.title.text = result.monitorPointName
                    option.series[0].data[i] = termp.currentTemp
                    option.xAxis[0].data[i] = '传感器'+ termp.sensorName +"  阈值："+termp.threshold
                }
                myChart.setOption(option)
            }
        });
    }

    function initChart() {
        option = {
            title : {
                text: '当前温度状态',
                subtext: '当前温度状态'
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['传感器温度']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    data : []
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'传感器温度',
                    type:'bar',
                    data:[],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    }
                }
            ]
        };
    }


</script>
<body>
<h1 style="text-align: center">当前温度状态</h1>

<div id="container">
    <div class="ui_content">
        <div id="box_border">
            <div id="box_center">
                监测点：
                <select name="monitorPoint" id="monitorPoint" style="width: 120px;height: 30px;margin: 2px 2px 2px 5px;" onchange="monitorPointSelect();">
                    @if(!isEmpty(monitorPointList)){
                    @for(monitorPoint in monitorPointList){
                    <option value=${monitorPoint.id}>${monitorPoint.monitorPointName}</option>
                    @}
                    @}
                </select>
                &nbsp;&nbsp;
                终端：
                <select name="terminal" id="terminal" style="width: 120px;height: 30px;margin: 2px 2px 2px 5px;">
                    <option value="">--请选择--</option>
                    @if(!isEmpty(monitorPointList) && monitorPointList[0].terminalVOList!=null){
                    @for(terminal in monitorPointList[0].terminalVOList){
                    <option value=${terminal.id}>${terminal.name}</option>
                    @}
                    @}
                </select>

            </div>
        </div>
    </div>

    <div class="ui_content">
        <a href="javascript:void(0)" onclick="showData()"
           style="text-decoration: none;margin-left: 140px">查看当前温度状态</a>
        <div id="main" style="height:460px;width: 85%;margin: 20px auto 0"></div>
    </div>
</div>
</body>
</html>