<!DOCTYPE html>
<html>
<head>
    <title>电力测温智能化管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <link href="${ctxPath}/style/authority/basic_layout.css" rel="stylesheet" type="text/css">
    <link href="${ctxPath}/style/authority/common_style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="${ctxPath}/scripts/authority/commonAll.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/jquery/jquery-1.4.4.min.js"></script>
    <script  src="${ctxPath}/scripts/My97DatePicker/WdatePicker.js" type="text/javascript" defer="defer"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            $("#submitbutton").click(function() {
                if(validateForm()){
                    checkFyFhSubmit();
                }
            });

            $("#cancelbutton").click(function() {
                $('#name').val('');
                $('#address').val('');
                $("#clientCompany").val('');
            });

            var result = 'null';
            if(result =='success'){
                /**  关闭弹出iframe  **/
                window.parent.$.fancybox.close();
            }
        });

        function getSonArea(areaId, nextSelect){
            $.ajax({
                type:"get",
                url:"/getSonAreas",
                data:{"areaId":areaId},
                dataType : "text",
                success:function(result){
                    var elem
                    for (var i in result) {
                        elem = result[i]
                        $('#city').append("<option value="+elem.id+">"+elem.areaName+"</option>");
                    }
                }
            });
            return true;
        }

        function checkFyFhSubmit(){
            var name = $('#name').val();
            var address = $('#address').val();
            var clientCompany = $("#clientCompany").val();
            if(username!="" && realName!="" && mobile!="" && address!=""&& email!=""){
                $.ajax({
                    type:"POST",
                    url:"/addUser",
                    data:{"username":username,"password":password,"realName":realName, "mobile":mobile, "address":address, "email":email},
                    dataType : "text",
                    success:function(data){
// 					alert(data);
                        // 如果返回数据不为空，更改“房源信息”
                        if(data=="1"){
                            art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'用户名已存在', ok:true,});
                            $("#username").css("background", "#EEE");
                            $("#username").focus();
                            return false;
                        }else if(data=="0"){
                            art.dialog({icon:'succeed', title:'友情提示', drag:false, resize:false, content:'用户添加成功', ok:true,});
                        }
                    }
                });
            }
            return true;
        }

        /** 表单验证  **/
        function validateForm(){
            if($("#name").val()==""){
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'名称', ok:true,});
                return false;
            }
            if($("#address").val()==""){
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'地址', ok:true,});
                return false;
            }
            if($("#clientCompany").val()==""){
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'客户公司', ok:true,});
                return false;
            }
            if($("#district").val()==""){
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'区域', ok:true,});
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<form id="submitForm" name="submitForm" method="post">
    <div id="container">
        <div id="nav_links">
            当前位置：基础数据&nbsp;>&nbsp;<span style="color: #1A5CC6;">监测点</span>
            <div id="page_close">
                <a href="javascript:parent.$.fancybox.close();">
                    <img  src="${ctxPath}/images/common/page_close.png" width="20" height="20" style="vertical-align: text-top;"/>
                </a>
            </div>
        </div>
        <td class="ui_content">
            <form id="eidtMonitorpoint" action="">
                <table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                <tr>
                    <td class="ui_text_lt" width="80">名称</td>
                    <td class="ui_text_lt">
                        <input type="text" id="name" name="name"  class="ui_input_txt02"/>
                    </td>
                </tr>

                <tr>
                    <td class="ui_text_lt">区域</td>
                    <td class="ui_text_lt">
                        <select name="province" id="province" class="ui_select01" onchange="getSonArea(this.value,city)">
                            @if(!isEmpty(provinces)){
                            @for(province in provinces){
                            <option value=${province.id}>${province.areaName}</option>
                            @}
                            @}
                        </select>
                    </td>
                    <td class="ui_text_lt">
                        <select name="city" id="city" class="ui_select01" onchange="getSonArea(this.value,district)"/>
                    </td>
                    <td class="ui_text_lt">
                        <select name="district" id="district" class="ui_select01"/>
                    </td>
                </tr>

                <tr>
                    <td class="ui_text_lt" width="80">地址</td>
                    <td class="ui_text_lt">
                        <input type="text" id="address" name="address"  class="ui_input_txt02"/>
                    </td>
                </tr>
                <tr>
                    <td class="ui_text_lt" width="80">客户公司</td>
                    <td class="ui_text_lt">
                        <input type="text" id="clientCompany" name="clientCompany"  class="ui_input_txt02"/>
                    </td>
                </tr>

                <tr>
                    <td>&nbsp;</td>
                    <td class="ui_text_lt">
                        &nbsp;<input id="submitbutton" type="button" value="提交" class="ui_input_btn01"/>
                        &nbsp;<input id="cancelbutton" type="button" value="取消" class="ui_input_btn01"/>
                    </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</form>

</body>
</html>