<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/artDialog/artDialog.js?skin=default"></script>
    <link href="${ctxPath}/style/authority/sensor.css" rel="stylesheet" type="text/css">
    <script type="text/javascript"  src="${ctxPath}/scripts/sensorChart.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/sensor.js"></script>
    <title>电力测温智能化管理</title>
</head>
<script type="text/javascript">
    var option
    var myChart
    var flt
    var deleteSensorName;

    var red="#900"
    var yellow="#96992a"
    var green="#14991c"
    $(function () {
        initChart()
        flt=$("#div_sensorSet");
        $(document).click(function(){
            hideHover(flt);
        });

        //基于准备好的dom，初始化echarts实例
        myChart = echarts.init(document.getElementById('main'));
        $("#addButton").click(function() {
            if($("#sensorname").val()==""){
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'传感器编号', ok:true,});
                return false;
            }
            addSensor();
        });

        $("#deleteSensorBtn").click(function() {
            var isSure = confirm("确认提交？");
            if(isSure) {
                deleteSensor();
            }
        });

        myChart.on("click", showHover);
        //myChart.setOption(option)
    })


    function showHover(param) {
        event.stopPropagation();
        var x=param.event.pageX;
        var y=param.event.pageY;
        deleteSensorName = param.data.name
        deleteSensorName = deleteSensorName.substring(3,deleteSensorName.indexOf(" "))
        flt.css({"top":y,"left":x});
        flt.show();
    }

    function deleteSensor(){
        if($("#terminal").val() ==""){
            art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'请选择终端', ok:true,});
            return;
        }

        var terminalId = $("#terminal").val()
        $.ajax({
            type:"POST",
            url:"${ctxPath}/deleteSensor",
            data:{"sensorname":deleteSensorName,
                "monitorPointId":$("#monitorPoint").val(),
                "terminalId":terminalId},
            dataType : "text",
            success:function(data){
                 if(data=="0"){
                    art.dialog({icon:'succeed', title:'友情提示', drag:false, resize:false, content:'删除成功', ok:true,});
                }else{
                     art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'删除失败', ok:true,});
                 }
            }
        });
    }

    function addSensor() {
        if($("#terminal").val() ==""){
            art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'请选择终端', ok:true,});
            return;
        }

        var sensorname = $('#sensorname').val();
        var terminalId = $("#terminal").val()
        $.ajax({
            type:"POST",
            url:"${ctxPath}/addSensor",
            data:{"sensorname":sensorname,"monitorPointId":$("#monitorPoint").val(),"terminalId":terminalId},
            dataType : "text",
            success:function(data){
                if(data=="1"){
                    art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'传感器编号已存在', ok:true,});
                    $("#username").css("background", "#EEE");
                    $("#username").focus();
                    return false;
                }else if(data=="0"){
                    art.dialog({icon:'succeed', title:'友情提示', drag:false, resize:false, content:'传感器添加成功', ok:true,});
                }
            }
        });
    }


</script>
<body>
<h1 style="text-align: center">传感器信息页面</h1>
<div id="container">
    <div class="ui_content">
        <div id="box_border">
            <div id="box_center">
                监测点：
                <select name="monitorPoint" id="monitorPoint" style="width: 120px;height: 30px;margin: 2px 2px 2px 5px;" onchange="monitorPointSelect();">
                    @if(!isEmpty(monitorPointList)){
                    @for(monitorPoint in monitorPointList){
                    <option value=${monitorPoint.id}>${monitorPoint.monitorPointName}</option>
                    @}
                    @}
                </select>
                &nbsp;&nbsp;
                终端：
                <select name="terminal" id="terminal" style="width: 120px;height: 30px;margin: 2px 2px 2px 5px;">
                    <option value="">--请选择--</option>
                    @if(!isEmpty(monitorPointList) && monitorPointList[0].terminalVOList!=null){
                    @for(terminal in monitorPointList[0].terminalVOList){
                    <option value=${terminal.id}>${terminal.name}</option>
                    @}
                    @}
                </select>
            </div>
        </div>
    </div>

    <div class="ui_content">
        <a href="javascript:void(0)" onclick="showData()"
           style="text-decoration: none;margin-left: 140px">传感器信息页面</a>
        <div  id="div_sensorSet" class="hoverButton" style="position:absolute;display:none;top:-1000px;left:-1000px;z-index:99">
            <ul id="nav" style="text-align: center; ">
                <li style="list-style-type: none; "><input id="deleteSensorBtn" type="button" value="删除" class="ui_input_btn01"/></li>
            </ul>
        </div>

        <div id="main" style="height:560px;width: 85%;margin: 20px auto 0"></div>
        <div>
            <form id="addSensor" action="">
                <table  cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                    <tr>
                        <td class="ui_text_lt" width="80">传感器编号</td>
                        <td class="ui_text_lt">
                            <input type="text" id="sensorname" name="sensorname"  class="ui_input_txt02"/>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td class="ui_text_lt">
                            &nbsp;<input id="addButton" type="button" value="添加" class="ui_input_btn01"/>
                            &nbsp;<input id="cancelbutton" type="button" value="取消" class="ui_input_btn01"/>
                        </td>
                    </tr>
                </table>
            </form>


        </div>

    </div>

</div>



</body>
</html>