<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.common.min.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/theme/vintage.js"></script>
    <script type="text/javascript"  src="${ctxPath}/scripts/sensor.js"></script>
    <title>电力测温智能化管理</title>
</head>
<script type="text/javascript">
    var option
    var myChart

    $(function () {
        initChart()
        //基于准备好的dom，初始化echarts实例
        myChart = echarts.init(document.getElementById('main'));
        //myChart.setOption(option)
    })

    function showWeight() {
        $.ajax({
            type: "GET",
            url: "checkTempInfoChart",
            data: {"monitorPointId":$("#monitorPoint").val(),
                "terminalId":$("#terminal").val()},
            success: function (result) {
                initChart()
                option.title.text = result.monitorPointName
                for (var i in result.sensorVOList) {
                    option.legend.data[i] = '传感器:'+ result.sensorVOList[i].sensorName +' 阈值：'+result.sensorVOList[i].threshold
                    var a = new Array();
                    for (var j in result.sensorVOList[i].tempHistoryVOList) {
                        a[j]= [
                            result.sensorVOList[i].tempHistoryVOList[j].genTime,
                            result.sensorVOList[i].tempHistoryVOList[j].temp,
                               50
                            ]
                    }

                    option.series[i] ={
                        name: option.legend.data[i],
                        type: 'line',
                        showAllSymbol: true,
                        symbolSize: 30,
                        data: a
                    }
                }
                myChart.setOption(option)
            }
        });
    }

    function initChart() {
        option = {
            title : {
                text : '时间坐标折线图',
            },
            tooltip : {
                trigger: 'item',
                formatter : function (params) {
                    var date = new Date(params.value[0]);
                    data = date.getFullYear() + '-'
                            + (date.getMonth() + 1) + '-'
                            + date.getDate() + ' '
                            + date.getHours() + ':'
                            + date.getMinutes();
                    return data + '<br/>'
                            + params.value[1] + ', '
                            + params.value[2];
                }
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            dataZoom: {
                show: true,
                start : 70
            },
            legend : {
                data : []
            },
            grid: {
                y2: 80
            },
            xAxis : [
                {
                    type : 'time',
                    splitNumber:10
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                }

            ]
        };

    }

</script>
<body>
<h1 style="text-align: center">温度信息页面</h1>
<div id="container">
    <div class="ui_content">
        <div id="box_border">
            <div id="box_center">
                监测点：&nbsp;&nbsp;
                <select name="monitorPoint" id="monitorPoint" style="width: 200px;height: 30px;margin: 2px 2px 2px 5px;" onchange="monitorPointSelect();">
                    @if(!isEmpty(monitorPointList)){
                        @for(monitorPoint in monitorPointList){
                    <option value=${monitorPoint.id}>监测点:${monitorPoint.monitorPointName}</option>
                        @}
                    @}
                </select>
                &nbsp;&nbsp;
                终端：&nbsp;&nbsp;
                <select name="terminal" id="terminal" style="width: 200px;height: 30px;margin: 2px 2px 2px 5px;">
                    <option value="">--请选择--</option>
                    @if(!isEmpty(monitorPointList)){
                    @for(terminal in monitorPointList[0].terminalVOList){
                    <option value=${terminal.id}>终端:${terminal.name}</option>
                    @}
                    @}
                </select>
            </div>
        </div>
    </div>

    <div class="ui_content">
        <a href="javascript:void(0)" onclick="showWeight()"
           style="text-decoration: none;margin-left: 140px">查看温度信息</a>
        <div id="main" style="height:460px;width: 85%;margin: 20px auto 0"></div>
    </div>
</div>
</body>
</html>