<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" src="${ctxPath}/scripts/jquery/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/dist/echarts.common.min.js"></script>
    <script type="text/javascript" src="/webjars/echarts/4.0.4/theme/vintage.js"></script>
    <title>电力测温智能化管理</title>
</head>
<script type="text/javascript">
    var option
    var myChart

    $(function () {
        initChart()
        //基于准备好的dom，初始化echarts实例
        myChart = echarts.init(document.getElementById('main'));
        //myChart.setOption(option)
    })

    function showWeight() {
        $.ajax({
            type: "GET",
            url: "checkTempInfoChart",
            data: {},
            success: function (result) {
                initChart()
                option.title.text = result.monitorPointName
                //option.series[0] = {"name": r.username, "type": "line", "data": []}


               /* option.legend.data[0] = '传感器:'+ result.sensorVOList[0].sensorName
                var a = new Array();
                for (var j in result.sensorVOList[0].tempHistoryVOList) {
                    a[j]= [result.sensorVOList[0].tempHistoryVOList[j].genTime,result.sensorVOList[0].tempHistoryVOList[j].temp]
                }
                option.series[0].data =a*/

                for (var i in result.sensorVOList) {
                    option.legend.data[i] = '传感器:'+ result.sensorVOList[i].sensorName

                    var a = new Array();
                    for (var j in result.sensorVOList[i].tempHistoryVOList) {
                         a[j]= [result.sensorVOList[i].tempHistoryVOList[j].genTime,result.sensorVOList[i].tempHistoryVOList[j].temp]
                    }
                    option.series[i].data =a
                }
                myChart.setOption(option)
            }
        });
    }

    function initChart() {
        option = {
            title : {
                text: '双数值轴折线',
                subtext: '纯属虚构'
            },
            tooltip : {
                trigger: 'axis',
                axisPointer:{
                    show: true,
                    type : 'cross',
                    lineStyle: {
                        type : 'dashed',
                        width : 1
                    }
                }
            },
            legend: {
                data:['数据1','数据2']
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataZoom : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            xAxis : [
                {
                    type: 'value'
                }
            ],
            yAxis : [
                {
                    type: 'value',
                    axisLine: {
                        lineStyle: {
                            color: '#dc143c'
                        }
                    }
                }
            ],
            series : [
                {
                    name:'数据1',
                    type:'line',
                    data:[
                        //[1.5, 10], [5, 7], [8, 8], [12, 6], [11, 12], [16, 9], [14, 6], [17, 4], [19, 9]
                    ]
                }
            ]
        };

    }

</script>
<body>
<h1 style="text-align: center">温度信息页面</h1>
<div id="container">
    <div class="ui_content">
        <div id="box_border">
            <div id="box_center">
                检测点：&nbsp;&nbsp;
                <select name="monitorPoint" id="monitorPoint" style="width: 200px;height: 30px;margin: 2px 2px 2px 5px;">
                    <option value="">--请选择--</option>
                </select>
            </div>
        </div>
    </div>

    <div class="ui_content">
        <a href="javascript:void(0)" onclick="showWeight()"
           style="text-decoration: none;margin-left: 140px">查看温度信息</a>
        <div id="main" style="height:460px;width: 85%;margin: 20px auto 0"></div>
    </div>
</div>
</body>
</html>